@model AirlineService.Data.Entities.Ticket

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeparturePoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeparturePoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinationPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinationPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceProvider)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceProvider)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDeparture)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDeparture)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfArrival)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfArrival)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfService)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfService)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passengers)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>MiddleName</th>
                </tr>
                @foreach (var item in Model.Passengers)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MiddleName)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
