@model AirlineService.Data.Entities.Ticket

@{
    ViewData["Title"] = "GetPassenger";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Passenger</h2>
        </div>
    </div>
</div>
<div>
    <hr />
    <dl class="row">        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Passenger)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
                <tr>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                </tr>                                          
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Passenger.LastName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Passenger.FirstName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Passenger.MiddleName)
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Passenger" asp-action="Edit" asp-route-id="@Model.Passenger.Id"
                                class="btn btn-primary mx-2"> Edit</a>
                                <a asp-controller="Passenger" asp-action="Delete" asp-route-id="@Model.Passenger.Id"
                                class="btn btn-danger mx-2"> Delete</a>
                           </div>
                        </td>
                    </tr>                                                                                            
            </table>
        </dd>
    </dl>
</div>
<div>    
    <a asp-controller="Passenger" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to list
        </a>
</div>
